---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PublicationPost from "../../components/PublicationPost.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("publications");
  posts.sort((a, b) => b.data.pubNumber.valueOf() - a.data.pubNumber.valueOf());
  return paginate(posts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Publications" sideBarActiveItemID="publications">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>

  <PublicationPost
    title="Mapping News Narratives Using LLMs and Narrative-Structured Text Embeddings"
    img="/narrative_map_wide_v3.png"
    authors="Jan Elfes"
    year="2025"
    venue="ACM Web Science Conference 2025"
    abstract="Given the profound impact of narratives across various societal levels, from personal identities to international politics, it is crucial to understand their distribution and development over time. This is particularly important in online spaces. On the Web, narratives can spread rapidly and intensify societal divides and conflicts. While many qualitative approaches exist, quantifying narratives remains a significant challenge. Computational narrative analysis lacks frameworks that are both comprehensive and generalizable. To address this gap, we introduce a numerical narrative representation grounded in structuralist linguistic theory. Chiefly, Greimas' Actantial Model represents a narrative through a constellation of six functional character roles. These so-called actants are genre-agnostic, making the model highly generalizable. We extract the actants using an open-source LLM and integrate them into a Narrative-Structured Text Embedding that captures both the semantics and narrative structure of a text. We demonstrate the analytical insights of the method on the example of 5000 full-text news articles from Al Jazeera and The Washington Post on the Israel-Palestine conflict. Our method successfully distinguishes articles that cover the same topics but differ in narrative structure."
    pubDate="2025-05-20"
    pubNumber="2"
    url="https://doi.org/10.1145/3717867.3717868"
  />

  <PublicationPost
    title="The Life with Corona survey"
    authors="Wolfgang Stojetz, Neil T.N. Ferguson, Ghassan Baliki, Oscar Díaz, Jan Elfes, Damir Esenaliev, Hanna Freudenreich, Anke Koebach, Liliana Abreu, Laura Peitz, Ani Todua, Monika Schreiner, Anke Hoeffler, Patrícia Justino, and Tilman Brück"
    year="2022"
    venue="Social Science & Medicine"
    abstract="The COVID-19 pandemic is a global crisis affecting everyone. Yet, its challenges and countermeasures vary significantly over time and space. Individual experiences of the pandemic are highly heterogeneous and its impacts span and interlink multiple dimensions, such as health, economic, social and political impacts. Therefore, there is a need to disaggregate “the pandemic”: analysing experiences, behaviours and impacts at the micro level and from multiple disciplinary perspectives. Such analyses require multi-topic pan-national survey data that are collected continuously and can be matched with other datasets, such as disease statistics or information on countermeasures. To this end, we introduce a new dataset that matches these desirable properties - the Life with Corona (LwC) survey - and perform illustrative analyses to show the importance of such micro data to understand how the pandemic and its countermeasures shape lives and societies over time."
    pubDate="2022-08-01"
    pubNumber="1"
    url="https://doi.org/10.1016/j.socscimed.2022.115109"
  />
  <!-- 
  {
    page.data.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">Sorry!</p>
        <p>There are no blog posts to show at the moment. Check back later!</p>
      </div>
    ) : (
      <ul>
        {page.data.map((post) => (
          <>
            <PublicationPost
              title={post.data.title}
              abstract={post.data.abstract}
              authors={post.data.authors}
              year={post.data.year}
              url={post.data.url}
              target="_self"
              badge={post.data.badge}
              tags={post.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          {" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>{" "}
          Recent posts
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Older Posts{" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            {" "}
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      ) : (
        <div />
      )
    }
  </div> -->
</BaseLayout>
